.anncard {
  width: 94%;
  min-height: 6.8rem;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid rgb(193, 187, 187);
  background-color: rgb(246, 243, 243);
  margin: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.div-1 {
  width: 100%;
}

.anncard img {
  margin-top: 5px;
  margin-left: 5px;
}

.heading-1 {
  font-size: 1.5rem;
  font-weight: 400;
  width: 85%;
}

.text-1 {
  font-size: 1.1rem;
  color: grey;
}

.images {
  display: flex;
  gap: 1rem;
  margin-top: 0.3rem;
}

.images img {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 834px) {
  .anncard img {
    margin-left: 0;
  }
}
